body {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ebdfc3; /* Cor de fundo clara */
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #C6A48A; /* Cor de fundo do cabeçalho */
    padding: 10px 0; /* Espaçamento interno do cabeçalho */
    border-radius: 10px; /* Bordas arredondadas */
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #8B4513; /* Cor do texto dos links */
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #C6A48A; /* Fundo dos links com tonalidade mais escura */
}

.nav-links a:hover {
    background-color: #8B4513; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

h1 {
    color: #8B4513;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    color: #A0522D;
}

.contact-section {
    display: flex; /* Usando flexbox para organizar os elementos lado a lado */
    justify-content: space-between; /* Espaçamento entre os elementos */
    margin-top: 20px; /* Margem superior para espaçamento */
}

.contact-info {
    flex-basis: 60%; /* Ocupa 60% do espaço disponível */
}

.map-container {
    flex-basis: 35%; /* Ocupa 35% do espaço disponível */
}

/* Estilo para o iframe do Google Maps */
iframe {
    width: 100%; /* Largura total do iframe */
    height: auto; /* Altura automática para manter a proporção */
}